#labelHitung{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}
.tombol{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(120, 122, 243);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.tombol:hover{
    background-color: rgb(30, 34, 242);
}